
footer {
    background-color: #4b836be1;
    color: #000;
    padding: 50px 0;
    border-top: solid 4px rgba(9, 5, 5, 0.71);
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .contact {
    flex-basis: 50%;
    margin-bottom: 30px;
  }
  
  .contact h3 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  
  .contact ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .contact li {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
  }
  
  .contact li i {
    margin-right: 10px;
  }
  
  .social {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.social h3 {
    font-size: 22px;
    margin-bottom: 10px;
}
  
  .social ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  .social li {
    margin-bottom: 5px;
    display: flex;
  }
  
  .social li a {
    color: #000;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  .social li a:hover {
    color: #D9D487;
  }
  
  .social li a img {
    margin-right: 10px;
    font-size: 1.2rem;
  }
