@import "../css/header.css";
@import "../css/menu.css";
@import "../css/style.css";
@import "../css/footer.css";




.mainContainer{
    min-height: 65vh;
    max-height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
}
.sectionContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    font-size: 2rem;
    margin-top: 5vh;
}
.sectionContainer h2{
    font-size: 24px;
    padding: 4px;
    text-indent: 16px;
}
.sectionContainer h1{
    font-size: 18px;
    padding: 4px;
    margin-top: 4px;
    text-indent: 16px;
}
.pImageDiv{
    margin: 12px;
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
    width: 96%;
}
.appP{
    width: 70%;
    min-width: 370px;
    padding: 4px;
    text-indent: 16px;
}
.appFigure{
    width: 40%;
    min-width: 340px;
    min-height: 240px;
    max-width: 360px;
    max-height: 250;
    padding: 8px;
    border-radius: 5px;
}
.natureImage{
    width: 100%;
    height: 100%;
}
.sectionCitation{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 26px;
    margin-bottom: 26px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.sectionCitation p {
    border-top: 2px solid rgba(9, 5, 5, 0.71) ;
    border-bottom: 2px solid rgba(9, 5, 5, 0.71) ;
    padding: 32px;
    font-size: 22px;
    text-align: center;
}

/* #D9D487 */