.main-menu-class{
    width: 100%;
    height: 36px;
    background: rgba(9, 5, 5, 0.71);
    display: flex;
    justify-content: end;
    align-items: center;
}

.main-menu-class a {
    text-decoration: none;
    margin: 10px;
    color: #FFFF;
}

.main-menu-class a:hover{
    color: #D9D487;
}