@import "../css/header.css";
@import "../css/menu.css";
@import "../css/style.css";
@import "../css/footer.css";





.mainContainer{
    min-height: 65vh;
    max-height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    justify-content: center;
    align-items: center ;
}

.formContainer{
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(9, 5, 5, 0.71);
    border-radius: 12px;
    padding: 16px;
    margin: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.formContainer fieldset{
    border: none;
    padding: 4px;
    margin: 4px;
}
.formContainer fieldset ul {
    list-style: none;
}

.formContainer fieldset ul li input{
    padding: 4px;
    font-size: 16px;
}
.formContainer fieldset ul li {
    font-weight: bold;
    flex-basis: 45%;
    margin-bottom: 20px;
    gap: 4px;
}
.formContainer fieldset ul li select {
 font-size: 16px;
}
.formContainer fieldset ul li select option{
    font-size: 16px;
}

#messageId{
    width: 525px;
    min-width: 330px;
}

#submitButtonId{
    width: 30%;
    align-self: center;
    background: rgba(9, 5, 5, 0.71);
    color: #fff;
    border-radius: 4px;
}
#submitButtonId:hover{
    background:  rgba(9, 5, 5, 0.55);
    color: #fff;
}