* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: clamp(16px, 1.5vw, 20px);
    font-family: 'Barlow'; 

}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
}